@page "/airtemperature"

@using System.Data
@using Singapore.AirTemperature
@inject SingaporeAirTemperatureService Service

<h1>Singapore air temperature</h1>

<p>Live data fatched from data.gov.sg</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Updated on : @data.Rows[0].ItemArray[4].ToString()</p>
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Degree (&deg;C)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in data.Rows)
            {
                <tr>
                    <td>@row.ItemArray[1]</td>
                    <td>@row.ItemArray[3].ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DataTable data;

    protected override async Task OnInitializedAsync()
    {
        data = await Service.GetDataAsync();
    }
}
