@page "/winddirection"

@using System.Data
@using Singapore.WindDirection
@inject SingaporeWindDirectionService WindDirectionService

<h1>Singapore wind direction</h1>

<p>Live data fatched from data.gov.sg</p>

@if (winddirections == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Direction (&deg;degree)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in winddirections.Rows)
            {
                <tr>
                    <td>@row.ItemArray[4].ToString()</td>
                    <td>@row.ItemArray[1]</td>
                    <td>@row.ItemArray[3].ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DataTable winddirections;

    protected override async Task OnInitializedAsync()
    {
        winddirections = await WindDirectionService.GetWindDirectionAsync();
    }
}
