@page "/windspeed"

@using System.Data
@using Singapore.WindSpeed
@inject SingaporeWindSpeedService Service

<h1>Singapore wind speed</h1>

<p>Live data fatched from data.gov.sg</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else if (data.Rows.Count > 0)
{
    <p>Updated on : @data.Rows[0].ItemArray[4].ToString()</p>
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Speed (km/h)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in data.Rows)
            {
                <tr>
                    <td>@row.ItemArray[1]</td>
                    <td>@row.ItemArray[3].ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>No record found!</em></p>
}

@code {
    private DataTable data;

    protected override async Task OnInitializedAsync()
    {
        data = await Service.GetDataAsync();
    }
}
