<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Singapore</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="singaporeweather.html">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Singapore weather
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="winddirection">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wind direction
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="windspeed">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wind speed
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="airtemperature">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Air temperature
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="relativehumidity">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Relative humidity
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="psi">
                <span class="oi oi-list-rich" aria-hidden="true"></span> PSI
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="4dayweatherforecast">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 4-day Weather forecast
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="24hrweatherforecast">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 24-hr Weather forecast
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2hrweatherforecast">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 2-hr Weather forecast
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
